.slider {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider-track {
  display: flex;
  width: calc(100% * 12);
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slide {
  flex: 0 0 auto;
  margin-top: 3em;
  margin-bottom: 5em;
  width: 30em;
  height: 20em;
  margin-right: 1em;
}

img {
  width: 100%;
  display: block;
  border-radius: 2em;
}
